BOOTSTRAP_SERVERS=
SASL_USERNAME=
SASL_PASSWORD=

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=env-datalake

AWS_S3_BUCKET=
AWS_REGION=us-east-1